@import "tailwindcss";

/* Regular */
@font-face {
  font-family: "affairstest";
  src: url("/fonts/affairstest-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "affairstest";
  src: url("/fonts/affairstest-mono.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "affairstest";
  src: url("/fonts/affairstest-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: "graphik";
  src: url("/fonts/Graphik-Semibold-Trial.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "graphik";
  src: url("/fonts/GraphikWide-Bold-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "graphik";
  src: url("/fonts/Graphik-Light-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "graphik";
  src: url("/fonts/Graphik-Regular-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "graphik";
  src: url("/fonts/GraphikWide-Medium-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@theme {
  --font-affairstest: "Affairstest", sans-serif;
  --font-graphik: "Graphik", sans-serif;

  /* custom colors */
  --color-primary: #0f2027;
  --color-secondary: #203a43;
  --color-darkBlue: #2c5364;
  --color-accent: #14b8a6;
  --color-neon: #00f0ff;
  --color-glassWhite: rgba(255, 255, 255, 0.1);
}

body {
  @apply bg-[#F4ECE1];
}